# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env
.env.*

# Django artifacts
db.sqlite3
*.log

# Git
.git/
.gitignore

# OS files
.DS_Store
Thumbs.db

# Editor configs
.vscode/
.idea/

# Tests & docs (not needed in image)
tests/
docs/

# Docker files (optional)
Dockerfile
